In [216]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

df=pd.read_csv("C:/Users/dontw/Downloads/iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [251]:
x=input("Prediction:")
l=x.split(',')
k=int(input("K="))

Prediction:5.9,3.0,5.1,1.8
K=3

In [252]:
lst_knn=[]
for i in range(len(df)):
    s=0
    for p in range(4): 
        s+=math.pow(float(l[p])-float(df.loc[i][p]),2)
    d=math.sqrt(s)
    lst_knn.append(d)

In [259]:
lst_2=lst_knn.copy()

In [260]:
lst_knn.sort()

In [264]:
lst=[]
for i in range(k):
    a=lst_2.index(lst_knn[i])
    lst.append(a)

In [262]:
lst_pred=[]
for i in lst:
    lst_pred.append(df.loc[i][4])

In [263]:
d_pred={"virginica":0,"versicolor":0,"setosa":0}
for i in d_pred:
    d_pred[i]=lst_pred.count(i)
inverse = [(value, key) for key, value in d_pred.items()]
max(inverse)[1]

'virginica'